<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		{{!-- Bootstrap --}}
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
		rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		{{!-- Custom font --}}
		<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

	    {{!-- Custom css --}}
		<link rel="stylesheet" href="/assests/css/burger_style.css" type="text/css" />

		<!-- Favicon -->
    	<link rel="shortcut icon" href="/assests/img/burger icon.png" type="image/x-icon">
    	<link rel="icon" href="/assests/img/burger icon.png" type="image/x-icon">

		{{!--Page title --}}
		<title>Burger Time!</title>

		{{!-- jQuery link --}}
		<script
  		src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  		crossorigin="anonymous">
		</script>

		{{!-- js logic --}}
		<script src="/assests/js/burger_logic.js"></script>
		
	</head>

	<body>
		{{{ body }}}
	</body>

	{{!-- Json list link --}}
	<a class="marker boldest" href="/api/burgers/list">
	<p id="json-link" class="border border-dark rounded">Check out all current burger info</p>
	</a>
	{{!-- Github repo link --}}
	<a class="border boldest text-dark bg-secondary border-dark rounded" href="https://github.com/Foscat/burger">See the repo</a>
	{{!-- Portfolio link --}}
	<a class="border boldest text-dark bg-success border-dark rounded" href="https://foscat.github.io/Portfolio-site--Employer-ready/">My portfolio</a>
	
</html>