<h1>Burger Time!</h1>

<h2>Uneaten burgers!!!</h2>

{{!-- Commented out section because that is a refferfin to a js file in the cats exapmle as i go  further i can use or'
dlete the info but keep it commented until further notice --}}
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block eaten=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Ate!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block eaten=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

{{!-- Input for burger name --}}
  <div class="form-group">
    <label for="bn">Burger Name:</label>
    <input type="text" id="bn" name="name">
  </div>

{{!-- Gives burger a boolean value of being eaten and not --}}
  <div class="form-group">
    <label for="devoured">Has it been eaten?</label><br>
    <input type="radio" name="devoured" value="1" checked>Somebody already at it..<br>
    <input type="radio" name="devoured" value="0"> Ready to eat!
  </div>

  <button type="submit">Add Burger</button>
</form>